.hero__nav{
    display: flex;
    padding: 2rem;
    font-size: 1.3rem;
    overflow: hidden;
    
    &-menu{
            text-transform: uppercase;
            margin-right: auto;
            cursor: pointer;
            background-color: orange;
            max-height: 2rem;
            overflow-y: hidden;
            
            
        }
        &-menu p:last-child{
            
        }

        &-contact{
            margin-left: auto;
            cursor: pointer;
            text-transform: uppercase;
            background-color: orange;
            max-height: 2rem;
            overflow-y: hidden;
        }

        &-contact p:last-child{
            // opacity: 0;
        }
}


.hero__title{
    align-self: center;
    font-size:18.5rem;
    text-transform: capitalize;
    font-weight: 400;
}


.hero__footer{
    margin-top: auto;
    font-size: 1.3rem; 
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    width: 100%;
    &-description{
        flex: 0 0 96%;
        text-align: center;
    }
    &-mail{
        flex: 0 0 1;
        margin-left: auto;
        background-color: white;
        height: 3.75rem;
        width: 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &-icon{
            width: 30px;
            height: 30px;
            fill: $chinese-black;
        }
    }
}


.hero__menu--btn{
    border: 1px solid $chinese-black;
    fill: $chinese-black;
    padding: 1.2rem;
    width: fit-content;
    

}




.hero__menu--list{
    margin-block: auto;
    justify-self: center;
    text-transform: uppercase;
    font-size: 2.4rem;
}


.hero__contact--btn{
    border: 1px solid $chinese-black;
    fill: $chinese-black;
    width: fit-content;
    padding: 1.2rem;

}